body {
  font-family: "Muli", sans-serif;
  margin: 0;
  background-color: #fff;
}

.heading {
  font-weight: 800;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #56ccf2;
  margin: 0;
}

.subheading {
  font-weight: 900;
  font-size: 32px;
  line-height: 140%;
  color: #253757;
}

.button {
  background-color: #2f80ed;
  height: 56px;
  width: 226px;
  border: 2px solid #2f80ed;
  border-radius: 64px;
  outline: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  transition: 0.5s;
}
.button:hover {
  color: #2f80ed;
  background: none;
  cursor: pointer;
}

.blue-block {
  position: relative;
  height: 848px;
  background: url("images/Bg.png");
  background-color: #e5e5e5;
  background-size: cover;
  background-repeat: no-repeat;
}
.blue-block .header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.blue-block .header .logo {
  font-weight: bold;
  text-decoration: none;
  font-size: 32px;
  line-height: 100%;
  color: #fff;
}
.blue-block .header .main-menu ul {
  padding: 0;
  list-style: none;
  display: flex;
}
.blue-block .header .main-menu ul li {
  margin-left: 62px;
  position: relative;
}
.blue-block .header .main-menu ul li a {
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
  transition: 1s;
}
.blue-block .header .main-menu ul li a.is-active::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 32px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #fcc304;
}
.blue-block .header .main-menu ul li:hover a {
  color: #253757;
}
.blue-block .header .main-menu ul li:last-child {
  margin-left: 135px;
}
.blue-block .global-digital-agency {
  box-sizing: border-box;
  margin: 0;
  padding: 80px 20%;
  height: 700px;
}
.blue-block .global-digital-agency .global-digital-agency-heading {
  font-weight: 900;
  font-size: 64px;
  color: #fff;
  margin: 0;
}
.blue-block .global-digital-agency .global-digital-agency-paragraph {
  margin-top: 25px;
  margin-bottom: 42px;
  font-size: 24px;
  color: #fff;
}
.blue-block .global-digital-agency .global-digital-agency-button {
  background-color: #fff;
  border-color: #fff;
  color: #253757;
}
.blue-block .global-digital-agency .global-digital-agency-button:hover {
  color: #fff;
  background: none;
}
@media screen and (max-width: 1128px) {
  .blue-block .global-digital-agency {
    padding: 40px 15%;
  }
}

.intro {
  background-color: #e5e5e5;
  height: 480px;
  width: 100%;
}
.intro .photo-block {
  background-image: url("images/Photo.png");
  background-color: #e5e5e5;
  background-repeat: no-repeat;
  background-position: center;
  height: 640px;
  width: 1146px;
  position: relative;
  top: -320px;
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: 2;
}
.intro .photo-block .photo-button {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #fcc304;
  height: 64px;
  width: 164px;
  border-radius: 50px;
  position: absolute;
  top: calc(50% - 32px);
  left: -82px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.intro .photo-block .photo-button button {
  border: none;
  outline: none;
  background: none;
  height: 100%;
  width: 100%;
}
.intro .photo-block .photo-button button:first-child {
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
}
.intro .photo-block .photo-button button:last-child {
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
}
.intro .photo-block .photo-button button:hover {
  background-color: #fcc304;
}
.intro .photo-block .photo-button .arrow {
  height: 24px;
}
.intro .photo-block .intro-text {
  width: 264px;
  position: absolute;
  bottom: 86px;
  left: 98px;
}
.intro .photo-block .intro-text .blue-text {
  font-weight: 800;
  font-size: 12.6px;
  line-height: 150%;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #56ccf2;
}
.intro .photo-block .intro-text .white-text {
  font-weight: 900;
  font-size: 19.6px;
  line-height: 140%;
  color: #fff;
}
.intro .photo-block .social-networks {
  width: 640px;
  display: flex;
  justify-content: space-evenly;
  color: #253757;
  transform: rotate(90deg);
  position: absolute;
  right: -400px;
  top: 50%;
}
.intro .photo-block .social-networks a {
  color: inherit;
  font-weight: 800;
  font-size: 12.6px;
  line-height: 150%;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
}
.intro .photo-block .social-networks a:hover {
  cursor: pointer;
}
@media screen and (max-width: 1400px) {
  .intro .photo-block .photo-button {
    top: 95%;
    left: calc(50% - 82px);
  }
  .intro .photo-block .social-networks {
    transform: none;
    top: 110%;
    left: 20vw;
  }
  .intro .photo-block .social-networks a {
    text-decoration: none;
  }
}

.welcome {
  background-color: #e5e5e5;
  padding-top: 0;
  padding-bottom: 160px;
}
.welcome .welcome-container {
  width: 742px;
  margin: 0 auto;
}
.welcome .welcome-container .welcome-paragraph {
  font-weight: 600;
  font-size: 24px;
  color: #253757;
}

.what-we-do {
  margin: 0;
  padding-bottom: 160px;
}
.what-we-do .what-we-do-heading {
  font-weight: 900;
  font-size: 48px;
  text-align: center;
  color: #253757;
  margin: 0;
  position: relative;
  top: -30px;
}
.what-we-do .flex-container {
  display: flex;
  justify-content: space-around;
}
.what-we-do .flex-container .what-we-do-figure {
  width: 264px;
}
.what-we-do .flex-container .what-we-do-figure .description .description-heading {
  font-weight: 900;
  font-size: 19.6px;
  line-height: 140%;
  color: #253757;
}
.what-we-do .flex-container .what-we-do-figure .description .description-paragraph {
  font-size: 16px;
  line-height: 150%;
  color: #334563;
}

.process {
  background-color: #e5e5e5;
  padding-top: 160px;
  margin: 0;
  position: relative;
  display: flex;
  justify-content: space-evenly;
}
.process .process-container {
  width: 362px;
}
.process .process-container .process-paragraph {
  font-size: 16px;
  line-height: 150%;
  color: #334563;
}
.process .process-steps {
  position: relative;
  top: 210px;
  width: 570px;
  display: grid;
  grid-column-gap: 58px;
  grid-template-areas: ". two" "one two" "one ." ". four" "three four" "three .";
}
.process .process-steps .step-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px 32px;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.02);
  height: 256px;
  transition: 1s;
}
.process .process-steps .step-card:hover {
  transform: translateY(-15px);
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.3);
}
.process .process-steps .step-card .circle {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  text-align: center;
  font-size: 40px;
  line-height: 220%;
  letter-spacing: 2px;
  font-weight: 900;
}
.process .process-steps .step-card-one {
  grid-area: one;
}
.process .process-steps .step-card-one .circle {
  background-color: rgba(86, 204, 242, 0.1);
  color: #56CCF2;
}
.process .process-steps .step-card-two {
  grid-area: two;
}
.process .process-steps .step-card-two .circle {
  background-color: rgba(252, 195, 4, 0.1);
  color: #FCC304;
}
.process .process-steps .step-card-three {
  grid-area: three;
}
.process .process-steps .step-card-three .circle {
  background-color: rgba(3, 213, 66, 0.1);
  color: #03D542;
}
.process .process-steps .step-card-four {
  grid-area: four;
}
.process .process-steps .step-card-four .circle {
  background-color: rgba(242, 86, 86, 0.1);
  color: #F25656;
}

.features {
  background-image: url("./images/Bg-features.png");
  background-color: #56CCF2;
  background-position: right;
  background-repeat: no-repeat;
  height: 976px;
  box-sizing: border-box;
  padding-top: 198px;
  padding-bottom: 227px;
  padding-left: 227px;
}
.features .features-container {
  width: 362px;
}
.features .features-heading {
  color: #fff;
}
.features .features-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}
.features .features-item img {
  height: 64px;
}
.features .features-item p {
  margin: 0;
  width: 263px;
}

.testimonials {
  box-sizing: border-box;
  height: 688px;
  background-color: #fff;
  padding: 0 10%;
}
.testimonials .testimonials-container {
  position: relative;
  top: 165px;
}
.testimonials .testimonials-subheading {
  margin-bottom: 86px;
}
.testimonials .testimonials-flex-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}
.testimonials .testimonials-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 314px;
  height: 464px;
  box-sizing: border-box;
  padding: 58px 32px;
  background-color: #fefefe;
  box-shadow: 16px 16px 32px rgba(0, 0, 0, 0.05);
  transition: 1s;
}
.testimonials .testimonials-item:hover {
  box-shadow: 16px 16px 32px rgba(0, 0, 0, 0.3);
  transform: translateY(-20px);
}
.testimonials .testimonials-item hr {
  width: 64px;
  height: 2px;
  border: none;
  margin: 31px;
}
.testimonials .testimonials-item .testimonials-text {
  font-style: italic;
  font-weight: normal;
  font-size: 14.4px;
  line-height: 150%;
}
.testimonials .testimonials-item .testimonials-name,
.testimonials .testimonials-item .testimonials-position {
  margin: 0;
}
.testimonials .testimonials-photo {
  position: relative;
  height: 196px;
  width: 126px;
}
.testimonials .testimonials-photo .oval-photo {
  position: absolute;
  bottom: 0;
  left: 30px;
  z-index: 2;
  height: 124px;
  width: 64px;
  overflow: hidden;
  border-radius: 500px;
  transform-origin: center;
  transform: rotate(-25deg);
}
.testimonials .testimonials-photo .oval-photo img {
  transform-origin: center;
  transform: rotate(25deg) scale(-1, 1);
  height: 120%;
  position: absolute;
  top: -10px;
  left: -25px;
}
.testimonials .testimonials-photo .oval-block {
  height: 162px;
  width: 64px;
  border-radius: 500px;
  transform: rotate(25deg);
  position: absolute;
  bottom: 25px;
  right: 30px;
}
.testimonials .blue hr {
  background-color: #56ccf2;
}
.testimonials .blue .oval-block {
  background-color: #56ccf2;
}
.testimonials .blue .testimonials-position {
  color: #56ccf2;
}
.testimonials .yellow hr {
  background-color: #fcc304;
}
.testimonials .yellow .oval-block {
  background-color: #fcc304;
}
.testimonials .yellow .testimonials-position {
  color: #fcc304;
}
.testimonials .red hr {
  background-color: #f25656;
}
.testimonials .red .oval-block {
  background-color: #f25656;
}
.testimonials .red .testimonials-position {
  color: #f25656;
}

.apply {
  overflow: hidden;
  position: relative;
  background: #e5e5e5;
  padding-top: 320px;
  padding-bottom: 200px;
}
.apply .apply-container {
  position: relative;
  z-index: 2;
  margin: 0 auto;
  width: 72%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.apply .drop {
  z-index: 0;
  border: 3px solid;
  border-radius: 500px;
  transform: rotate(-65deg);
  position: absolute;
  opacity: 0.5;
}
.apply .drop-1 {
  border-color: #F25656;
  width: 85.61px;
  height: 33.84px;
  left: 233px;
  top: 137.65px;
}
.apply .drop-2 {
  border-color: #FCC304;
  width: 45.28px;
  height: 17.9px;
  left: 446px;
  top: 106.07px;
}
.apply .drop-3 {
  color: #56ccf2;
  left: 82.16px;
  top: 419.21px;
  width: 67.36px;
  height: 26.63px;
}
.apply .drop-4 {
  width: 93.54px;
  height: 36.98px;
  left: 131.42px;
  top: 591.29px;
  color: #BC04FC;
}
.apply .drop-5 {
  width: 143.04px;
  height: 56.54px;
  left: 269px;
  top: 400.74px;
  color: #03D542;
}
.apply .drop-6 {
  width: 45.28px;
  height: 17.9px;
  left: 481px;
  top: 494.07px;
  color: #FCC304;
}
.apply .drop-7 {
  width: 45.28px;
  height: 17.9px;
  right: 552px;
  top: 543.07px;
  color: #BC04FC;
}
.apply .drop-8 {
  width: 143.04px;
  height: 56.54px;
  right: 215px;
  top: 248.7px;
  color: #03D542;
}
.apply .drop-9 {
  width: 53.69px;
  height: 21.22px;
  right: 111px;
  top: 146.18px;
  color: #BC04FC;
}
.apply .drop-10 {
  color: #fcc304;
  width: 86.41px;
  height: 34.16px;
  right: 67px;
  top: 342.88px;
}
.apply .drop-11 {
  width: 85.61px;
  height: 33.84px;
  right: 314px;
  top: 450.81px;
  color: #F25656;
}
.apply .drop-12 {
  width: 153.61px;
  height: 60.72px;
  right: 143px;
  top: 540.49px;
  color: #56CCF2;
}
.apply .apply-heading {
  font-weight: 900;
  font-size: 48px;
  line-height: 100%;
  color: #253757;
  margin: 0;
}
.apply .apply-text {
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  color: #334563;
  text-align: center;
  margin: 57px 0;
}

.contacts {
  background-color: #e5e5e5;
  padding: 0 10%;
}
.contacts .contacts-container {
  display: flex;
  justify-content: space-between;
}
.contacts .send-message .form {
  width: 100%;
  margin-right: 130px;
  display: flex;
  flex-direction: column;
}
.contacts .send-message .form label input {
  margin-top: 40px;
  width: 100%;
  height: 50px;
  background-color: #e5e5e5;
  border: none;
  border-bottom: 1px solid #666666;
}
.contacts .send-message .form ::placeholder {
  font-weight: bold;
  font-size: 14.4px;
  line-height: 150%;
  color: #152032;
}
.contacts .send-message .form .button {
  margin-top: 105px;
}
.contacts .contact-us .contact-us-subheading {
  width: 362px;
}
.contacts .contact-us .contacts-text {
  font-weight: 800;
  font-size: 12.6px;
  line-height: 150%;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #334563;
  margin: 43px 0 0 0;
}
.contacts .contact-us .contacts-highlight {
  font-weight: 900;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #56ccf2;
  margin: 0;
}
.contacts .contact-us .contacts-highlight a {
  text-decoration: none;
  color: inherit;
}
.contacts .contact-us .social-networks {
  margin-top: 53px;
  width: 192px;
  display: flex;
  justify-content: space-between;
}

.footer {
  background-color: #e5e5e5;
  padding: 3% 10%;
}
.footer .footer-container {
  display: flex;
  justify-content: space-between;
}
.footer .footer-menu ul {
  list-style: none;
  display: flex;
  padding: 0;
}
.footer .footer-menu ul li {
  margin-right: 63px;
}
.footer .footer-menu ul li a {
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  color: #253757;
}
.footer .footer-menu ul li:last-child {
  margin-right: 0;
}

@media screen and (max-width: 1400px) {
  .testimonials {
    padding: 0 4%;
  }
  .testimonials .testimonials-item {
    width: 30%;
    padding: 40px 5%;
  }

  .features {
    padding-left: 50px;
    background-position: center;
  }
}
@media screen and (max-width: 1024px) {
  .header {
    flex-direction: column;
  }
  .header .logo {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .header .main-menu {
    width: 100%;
  }
  .header .main-menu ul {
    justify-content: space-around;
  }
  .header .main-menu ul li {
    margin-left: 0 !important;
  }

  .intro .photo-block {
    width: 100%;
    top: -300px;
  }

  .what-we-do {
    padding-bottom: 100px;
  }
  .what-we-do .flex-container {
    flex-wrap: wrap;
  }

  .process {
    padding-top: 100px;
    flex-direction: column;
    align-items: center;
  }
  .process .process-steps {
    top: 100px;
  }
  .features {
    padding-left: 50px;
    background-position: center;
  }

  .testimonials .testimonials-flex-container {
    display: flex;
    justify-content: space-around;
  }

  .contacts {
    padding: 0 5%;
  }
}
@media screen and (max-width: 768px) {
  .intro .photo-block {
    top: -150px;
  }
  .intro .photo-block .social-networks {
    width: 100%;
    left: 0;
  }

  .welcome {
    padding: 20% 5%;
  }
  .welcome .welcome-container {
    width: 100%;
    margin: 0 auto;
  }

  .contacts .contacts-container {
    flex-direction: column;
    align-items: center;
  }
  .contacts .contacts-container .send-message .button {
    align-self: center;
  }
  .contacts .contacts-container .contact-us {
    margin-top: 50px;
    text-align: center;
  }
  .contacts .contacts-container .contact-us .social-networks {
    margin: 30px auto;
  }

  .features {
    background-image: none;
  }

  .footer .footer-container {
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 660px) {
  .footer .footer-menu ul {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 425px) {
  .header .main-menu ul {
    flex-direction: column;
    align-items: center;
  }

  .global-digital-agency .global-digital-agency-heading {
    font-size: 30px !important;
  }
  .global-digital-agency .global-digital-agency-paragraph {
    font-size: 18px !important;
  }

  .welcome {
    padding: 35% 5%;
  }

  .process .process-steps {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .process .process-steps .step-card {
    width: 240px;
    margin-bottom: 80px;
  }

  .features {
    padding: 20% 5%;
    background: none;
    background-color: #56CCF2;
    height: min-content;
  }

  .testimonials {
    padding: 10% 5%;
    height: max-content;
  }
  .testimonials .testimonials-container {
    top: 0;
  }
  .testimonials .testimonials-flex-container {
    flex-direction: column;
    align-items: center;
  }
  .testimonials .testimonials-flex-container .testimonials-item {
    width: 80%;
    margin-bottom: 20px;
  }

  .apply {
    padding: 15% 5%;
  }

  .footer .footer-menu ul {
    flex-direction: column;
  }
}
@media screen and (max-width: 375px) {
  .welcome .welcome-paragraph {
    font-size: 14px !important;
  }

  .what-we-do .what-we-do-heading {
    font-size: 28px;
    top: -15px;
  }
  .what-we-do .description-heading {
    font-size: 18px !important;
  }

  .process {
    padding: 10%;
  }
  .process .process-subheading {
    font-size: 28px;
  }

  .features .features-subheading {
    font-size: 24px;
  }
  .features .features-container {
    width: 100%;
  }
  .features .features-item {
    flex-direction: column;
  }
  .features .features-item img {
    margin-bottom: 10px;
  }

  .testimonials .testimonials-subheading {
    font-size: 28px;
  }
}
@media screen and (max-width: 320px) {
  .intro .intro-text {
    left: 20px !important;
  }

  .welcome {
    padding-top: 40%;
  }

  .process .process-container {
    width: 100%;
  }

  .apply .apply-heading {
    font-size: 36px;
    text-align: center;
  }
  .apply .apply-text {
    font-size: 18px;
  }

  .contacts .send-message .form {
    width: 300px;
    margin: 0;
  }
  .contacts .contact-us .contact-us-subheading {
    width: 100%;
    font-size: 24px;
  }
}

/*# sourceMappingURL=style.css.map */
