body {
  font-family: "Muli", sans-serif;
  margin: 0;
  background-color: #fff;
}

.heading {
  font-weight: 800;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #56ccf2;
  margin: 0;
}

.subheading {
  font-weight: 900;
  font-size: 32px;
  line-height: 140%;
  color: #253757;
}

.button {
  background-color: #2f80ed;
  height: 56px;
  width: 226px;
  border: 2px solid #2f80ed;
  border-radius: 64px;
  outline: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  transition: 0.5s;

  &:hover {
    color: #2f80ed;
    background: none;
    cursor: pointer;
  }
}

.blue-block {
  position: relative;
  height: 848px;
  background: url("images/Bg.png");
  background-color: #e5e5e5;
  background-size: cover;
  background-repeat: no-repeat;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-around;

    .logo {
      font-weight: bold;
      text-decoration: none;
      font-size: 32px;
      line-height: 100%;
      color: #fff;
    }

    .main-menu {
      ul {
        padding: 0;
        list-style: none;
        display: flex;

        li {
          margin-left: 62px;
          position: relative;

          a {
            text-decoration: none;
            font-weight: bold;
            font-size: 16px;
            line-height: 150%;
            color: #fff;
            transition: 1s;
          }

          a.is-active::after {
            content: "";
            position: absolute;
            bottom: -5px;
            left: 0;
            width: 100%;
            height: 4px;
            border-radius: 32px;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #fcc304;;
          }

          &:hover {
            a {
              color: #253757;
            }
          }

        }

        li:last-child {
          margin-left: 135px;
        }

      }
    }
  }

  .global-digital-agency {
    box-sizing: border-box;
    margin: 0;
    padding: 80px 20%;
    height: 700px;

    .global-digital-agency-heading {
      font-weight: 900;
      font-size: 64px;
      color: #fff;
      margin: 0;
    }

    .global-digital-agency-paragraph {
      margin-top: 25px;
      margin-bottom: 42px;
      font-size: 24px;
      color: #fff;
    }

    .global-digital-agency-button {
      background-color: #fff;
      border-color: #fff;
      color: #253757;

      &:hover {
        color: #fff;
        background: none;
      }
    }
  }

  @media screen and (max-width: 1128px) {
    .global-digital-agency {
      padding: 40px 15%;
    }

  }
}

.intro {
  background-color: #e5e5e5;
  height: 480px;
  width: 100%;

  .photo-block {
    background-image: url("images/Photo.png");
    background-color: #e5e5e5;
    background-repeat: no-repeat;
    background-position: center;
    height: 640px;
    width: 1146px;
    position: relative;
    top: -320px;
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: 2;

    .photo-button {
      button {
        border: none;
        outline: none;
        background: none;
        height: 100%;
        width: 100%;
        &:first-child {
          border-bottom-left-radius: 50px;
          border-top-left-radius: 50px;
        }
        &:last-child {
          border-bottom-right-radius: 50px;
          border-top-right-radius: 50px;
        }
        &:hover {
          background-color: #fcc304;
        }
      }
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #fcc304;
      height: 64px;
      width: 164px;
      border-radius: 50px;
      position: absolute;
      top: calc(50% - 32px);
      left: -82px;
      display: flex;
      align-items: center;
      justify-content: space-around;

      .arrow {
        height: 24px;
      }
    }

    .intro-text {
      width: 264px;
      position: absolute;
      bottom: 86px;
      left: 98px;

      .blue-text {
        font-weight: 800;
        font-size: 12.6px;
        line-height: 150%;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #56ccf2;
      }

      .white-text {
        font-weight: 900;
        font-size: 19.6px;
        line-height: 140%;
        color: #fff;
      }
    }

    .social-networks {
      width: 640px;
      display: flex;
      justify-content: space-evenly;
      color: #253757;
      transform: rotate(90deg);
      position: absolute;
      right: -400px;
      top: 50%;

      a {
        color: inherit;
        font-weight: 800;
        font-size: 12.6px;
        line-height: 150%;
        letter-spacing: 2px;
        text-transform: uppercase;
        text-decoration: none;

        &:hover {
          cursor: pointer;
        }
      }
    }

    @media screen and (max-width: 1400px) {
      .photo-button {
        top: 95%;
        left: calc(50% - 82px);
      }
      .social-networks {
        transform: none;
        top: 110%;
        left: 20vw;

        a {
          text-decoration: none;
        }
      }
    }
  }
}

.welcome {
  background-color: #e5e5e5;
  padding-top: 0;
  padding-bottom: 160px;

  .welcome-container {
    width: 742px;
    margin: 0 auto;

    .welcome-paragraph {
      font-weight: 600;
      font-size: 24px;
      color: #253757;
    }
  }

}

.what-we-do {
  margin: 0;
  padding-bottom: 160px;

  .what-we-do-heading {
    font-weight: 900;
    font-size: 48px;
    text-align: center;
    color: #253757;
    margin: 0;
    position: relative;
    top: -30px;
  }

  .flex-container {
    display: flex;
    justify-content: space-around;

    .what-we-do-figure {
      width: 264px;

      .description {
        .description-heading {
          font-weight: 900;
          font-size: 19.6px;
          line-height: 140%;
          color: #253757;
        }

        .description-paragraph {
          font-size: 16px;
          line-height: 150%;
          color: #334563;
        }
      }
    }
  }
}

.process {
  background-color: #e5e5e5;
  padding-top: 160px;
  margin: 0;
  position: relative;
  display: flex;
  justify-content: space-evenly;

  .process-container {
    width: 362px;

    .process-paragraph {
      font-size: 16px;
      line-height: 150%;
      color: #334563;
    }
  }

  .process-steps {
    position: relative;
    top: 210px;
    width: 570px;
    display: grid;
    grid-column-gap: 58px;
    grid-template-areas: '. two' 'one two' 'one .' '. four' 'three four' 'three .';

    .step-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 48px 32px;
      box-sizing: border-box;
      background-color: #fff;
      box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.02);
      height: 256px;
      transition: 1s;

      &:hover {
        transform: translateY(-15px);
        box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.3);
      }

      .circle {
        height: 48px;
        width: 48px;
        border-radius: 50%;
        text-align: center;
        font-size: 40px;
        line-height: 220%;
        letter-spacing: 2px;
        font-weight: 900;
      }

      &-one {
        grid-area: one;

        .circle {
          background-color: rgba(86, 204, 242, 0.1);
          color: #56CCF2;
        }
      ;
      }

      &-two {
        grid-area: two;

        .circle {
          background-color: rgba(252, 195, 4, 0.1);
          color: #FCC304;
        }
      }

      &-three {
        grid-area: three;

        .circle {
          background-color: rgba(3, 213, 66, 0.1);
          color: #03D542;
        }
      }

      &-four {
        grid-area: four;

        .circle {
          background-color: rgba(242, 86, 86, 0.1);
          color: #F25656;
        }
      }
    }
  }
}

.features {
  background-image: url('./images/Bg-features.png');
  background-color: #56CCF2;
  background-position: right;
  background-repeat: no-repeat;
  height: 976px;
  box-sizing: border-box;
  padding-top: 198px;
  padding-bottom: 227px;
  padding-left: 227px;

  .features-container {
    width: 362px;
  }

  .features-heading {
    color: #fff;
  }

  .features-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;

    img {
      height: 64px;
    }

    p {
      margin: 0;
      width: 263px;
    }
  }

}

.testimonials {
  box-sizing: border-box;
  height: 688px;
  background-color: #fff;
  padding: 0 10%;

  .testimonials-container {
    position: relative;
    top: 165px;
  }

  .testimonials-subheading {
    margin-bottom: 86px;
  }

  .testimonials-flex-container {
    display: flex;
    justify-content: space-between;
  }

  .testimonials-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 314px;
    height: 464px;
    box-sizing: border-box;
    padding: 58px 32px;
    background-color: #fefefe;
    box-shadow: 16px 16px 32px rgba(0, 0, 0, 0.05);
    transition: 1s;

    &:hover {
      box-shadow: 16px 16px 32px rgba(0, 0, 0, 0.3);
      transform: translateY(-20px);
    }

    hr {
      width: 64px;
      height: 2px;
      border: none;
      margin: 31px;
    }

    .testimonials-text {
      font-style: italic;
      font-weight: normal;
      font-size: 14.4px;
      line-height: 150%;
    }

    .testimonials-name,
    .testimonials-position {
      margin: 0;
    }
  }

  .testimonials-photo {
    position: relative;
    height: 196px;
    width: 126px;
    .oval-photo {
      position: absolute;
      bottom: 0;
      left: 30px;
      z-index: 2;
      height: 124px;
      width: 64px;
      overflow: hidden;
      border-radius: 500px;
      transform-origin: center;
      transform: rotate(-25deg);
      img {
        transform-origin: center;
        transform: rotate(25deg) scale(-1, 1);
        height: 120%;
        position: absolute;
        top: -10px;
        left: -25px;
      }
    }
    .oval-block {
      height: 162px;
      width: 64px;
      border-radius: 500px;
      transform: rotate(25deg);
      position: absolute;
      bottom: 25px;
      right: 30px;
    }
  }

  .blue {
    hr {
      background-color: #56ccf2;
    }
    .oval-block {
      background-color: #56ccf2;
    }

    .testimonials-position {
      color: #56ccf2;
    }
  }

  .yellow {
    hr {
      background-color: #fcc304;
    }
    .oval-block {
      background-color: #fcc304;
    }

    .testimonials-position {
      color: #fcc304;
    }
  }

  .red {
    hr {
      background-color: #f25656;
    }
    .oval-block {
      background-color: #f25656;
    }

    .testimonials-position {
      color: #f25656;
    }
  }
}

.apply {
  position: relative;
  z-index: -1;
  background: #e5e5e5;
  padding-top: 320px;
  padding-bottom: 200px;
  .apply-container {
    margin: 0 auto;
    width: 72%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .drop {
    z-index: -1;
    border: 3px solid;
    border-radius: 500px;
    transform: rotate(-65deg);
    position: absolute;
    opacity: 0.5;
  }
  .drop-1 {
    border-color: #F25656;
    width: 85.61px;
    height: 33.84px;
    left: 233px;
    top: 137.65px;
  }
  .drop-2 {
    border-color: #FCC304;
    width: 45.28px;
    height: 17.9px;
    left: 446px;
    top: 106.07px;
  }
  .drop-3 {
    color: #56ccf2;
    left: 82.16px;
    top: 419.21px;
    width: 67.36px;
    height: 26.63px;
  }
  .drop-4 {
    width: 93.54px;
    height: 36.98px;
    left: 131.42px;
    top: 591.29px;
    color: #BC04FC;
  }
  .drop-5 {
    width: 143.04px;
    height: 56.54px;
    left: 269px;
    top: 400.74px;
    color: #03D542;
  }
  .drop-6 {
    width: 45.28px;
    height: 17.9px;
    left: 481px;
    top: 494.07px;
    color: #FCC304;
  }
  .drop-7 {
    width: 45.28px;
    height: 17.9px;
    right: 552px;
    top: 543.07px;
    color: #BC04FC;
  }
  .drop-8 {
    width: 143.04px;
    height: 56.54px;
    right: 215px;
    top: 248.7px;
    color: #03D542;
  }
  .drop-9 {
    width: 53.69px;
    height: 21.22px;
    right: 111px;
    top: 146.18px;
    color: #BC04FC;
  }
  .drop-10 {
    color: #fcc304;
    width: 86.41px;
    height: 34.16px;
    right: 67px;
    top: 342.88px;
  }
  .drop-11 {
    width: 85.61px;
    height: 33.84px;
    right: 314px;
    top: 450.81px;
    color: #F25656;
  }
  .drop-12 {
    width: 153.61px;
    height: 60.72px;
    right: 143px;
    top: 540.49px;
    color: #56CCF2;
  }

  .apply-heading {
    font-weight: 900;
    font-size: 48px;
    line-height: 100%;
    color: #253757;
    margin: 0;
  }

  .apply-text {
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: #334563;
    text-align: center;
    margin: 57px 0;
  }
}

.contacts {
  background-color: #e5e5e5;
  padding: 0 10%;

  .contacts-container {
    display: flex;
    justify-content: space-between;
  }

  .send-message {
    .form {
      width: 100%;
      margin-right: 130px;
      display: flex;
      flex-direction: column;

      label input {
        margin-top: 40px;
        width: 100%;
        height: 50px;
        background-color: #e5e5e5;
        border: none;
        border-bottom: 1px solid #666666;
      }

      ::placeholder {
        font-weight: bold;
        font-size: 14.4px;
        line-height: 150%;
        color: #152032;
      }

      .button {
        margin-top: 105px;
      }
    }
  }

  .contact-us {
    .contact-us-subheading {
      width: 362px;
    }

    .contacts-text {
      font-weight: 800;
      font-size: 12.6px;
      line-height: 150%;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #334563;
      margin: 43px 0 0 0;
    }

    .contacts-highlight {
      font-weight: 900;
      font-size: 24px;
      line-height: 150%;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #56ccf2;
      margin: 0;
      a {
        text-decoration: none;
        color: inherit;
      }
    }

    .social-networks {
      margin-top: 53px;
      width: 192px;
      display: flex;
      justify-content: space-between;
    }
  }
}

.footer {
  background-color: #e5e5e5;
  padding: 3% 10%;

  .footer-container {
    display: flex;
    justify-content: space-between;
  }

  .footer-menu {
    ul {
      list-style: none;
      display: flex;
      padding: 0;

      li {
        margin-right: 63px;

        a {
          text-decoration: none;
          font-weight: bold;
          font-size: 16px;
          line-height: 150%;
          color: #253757;
        }
      }

      li:last-child {
        margin-right: 0;
      }

    }
  }
}

@media screen and (max-width: 1400px) {
  .testimonials {
    padding: 0 4%;

    .testimonials-item {
      width: 30%;
      padding: 40px 5%;
    }
  }
  .features {
    padding-left: 50px;
    background-position: center;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    flex-direction: column;

    .logo {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .main-menu {
      width: 100%;

      ul {
        justify-content: space-around;

        li {
          margin-left: 0 !important;
        }
      }

    }
  }

  .intro {
    .photo-block {
      width: 100%;
      top: -300px;
    }
  }

  .what-we-do {
    padding-bottom: 100px;

    .flex-container {
      flex-wrap: wrap;
    }

  }
  .process {
    padding-top: 100px;
    flex-direction: column;
    align-items: center;

    .process-steps {
      top: 100px;

      .step-card {
      }
    }
  }
  .features {
    padding-left: 50px;
    background-position: center;
  }

  .testimonials {
    .testimonials-flex-container {
      display: flex;
      justify-content: space-around;
    }
  }

  .contacts {
    padding: 0 5%;
  }

}

@media screen and (max-width: 768px) {
  .intro {
    .photo-block {
      top: -150px;

      .social-networks {
        width: 100%;
        left: 0;
      }
    }
  }
  .welcome {
    padding: 20% 5%;

    .welcome-container {
      width: 100%;
      margin: 0 auto;
    }
  }
  .contacts {
    .contacts-container {
      flex-direction: column;
      align-items: center;

      .send-message {
        .button {
          align-self: center;
        }
      }

      .contact-us {
        margin-top: 50px;
        text-align: center;

        .social-networks {
          margin: 30px auto;
        }
      }
    }
  }

  .features {
    background-image: none;
  }

  .footer {
    .footer-container {
      flex-direction: column-reverse;
    }
  }
}

@media screen and (max-width: 425px) {
  .header {
    .main-menu {
      ul {
        flex-direction: column;
        align-items: center;
      }
    }
  }
  .global-digital-agency {
    .global-digital-agency-heading {
      font-size: 30px !important;
    }

    .global-digital-agency-paragraph {
      font-size: 18px !important;
    }
  }
  .welcome {
    padding: 35% 5%;
  }

  .process {
    .process-steps {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      .step-card {
        width: 240px;
        margin-bottom: 80px;
      }
    }
  }
  .features {
    padding: 20% 5%;
    background: none;
    background-color: #56CCF2;
    height: min-content;
  }

  .testimonials {
    padding: 10% 5%;
    height: max-content;

    .testimonials-container {
      top: 0;
    }

    .testimonials-flex-container {
      flex-direction: column;
      align-items: center;

      .testimonials-item {
        width: 80%;
        margin-bottom: 20px;
      }
    }
  }

  .apply {
    padding: 15% 5%;
  }

  .footer {
    .footer-menu ul {
      flex-direction: column;
    }
  }
}

@media screen and (max-width: 375px) {
  .welcome {
    .welcome-paragraph {
      font-size: 14px !important;
    }
  }

  .what-we-do {
    .what-we-do-heading {
      font-size: 28px;
      top: -15px;
    }

    .description-heading {
      font-size: 18px !important;
    }
  }
  .process {
    padding: 10%;

    .process-subheading {
      font-size: 28px;
    }
  }
  .features {
    .features-subheading {
      font-size: 24px;
    }

    .features-container {
      width: 100%;
    }

    .features-item {
      flex-direction: column;

      img {
        margin-bottom: 10px;
      }
    }
  }

  .testimonials {
    .testimonials-subheading {
      font-size: 28px;
    }
  }
}

@media screen and (max-width: 320px) {
  .intro {
    .intro-text {
      left: 20px !important;
    }
  }

  .welcome {
    padding-top: 40%;
  }

  .process {
    .process-container {
      width: 100%;
    }
  }

  .apply {
    .apply-heading {
      font-size: 36px;
      text-align: center;
    }

    .apply-text {
      font-size: 18px;
    }
  }

  .contacts {
    .send-message {
      .form {
        width: 300px;
        margin: 0;
      }
    }

    .contact-us {
      .contact-us-subheading {
        width: 100%;
        font-size: 24px;
      }
    }
  }
}
